@charset "utf-8";
/*--------------------- HOME --------------------- */
.home_inner {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template:
    "year . text" 10rem
    ". svg ." minmax(200px, calc(100vh - 28rem))
    ". . desc" 10rem / 1fr 2fr 1fr;

  align-items: center;
  padding: 5rem 7rem;
}

.home .year {
  font-size: 1.8rem;
  font-weight: 400;
  grid-area: year;
}

.home .title {
  grid-area: text;

  justify-self: flex-end;
}

.home .center_svg {
  grid-area: svg;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home .center_svg text {
  fill: transparent;
  stroke: var(--mainYellow);
  font-size: 45rem;
  font-weight: 700;
  stroke-width: 5;

  animation: textAnimation 3s infinite alternate;
}

@keyframes textAnimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

.home .desc {
  grid-area: desc;

  justify-self: flex-end;
}

/*--------------------- INFO --------------------- */
.info {
  position: relative;
}

.info:after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24rem;
  font-weight: 600;
  line-height: 1.5;

  content: "Information";
  color: rgba(255, 255, 255, 0.2);
  z-index: 5;
  transform-origin: top left;

  transform: rotate(90deg) translate(0, -65%);
}

.info.show {
  z-index: 2;
}

.info.show .info_inner {
  opacity: 1;
}

.info.show .career .career_list {
  opacity: 0;
  animation: showAnimation 0.5s var(--animationDelay) forwards;
}

@keyframes showAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info .info_inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  height: 100%;

  margin-left: auto;
  padding: 5rem 3rem;
  background: rgba(0, 0, 0, 0.8);

  transition: opacity 1s linear;
  opacity: 0;
  z-index: 50;
}

.info .profile {
  margin-bottom: 1rem;
}

.info .profile_img_wrap {
  width: 60%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.info .profile .circle {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.info .profile .circle:nth-child(odd) {
  box-shadow: 4rem 0 0 rgba(255, 255, 255, 0.8);
}

.info .profile .profile_img img {
  width: 8rem;
  height: 8rem;
}

.info .profile .profile_short_info {
  font-size: 1.4rem;
  line-height: 1.8;
}

.info .profile .profile_short_info:before {
  display: inline-block;
  width: 2px;
  height: 12rem;
  content: "";
  background-color: #fff;

  margin-bottom: 3rem;
}

.info .info_content {
  display: flex;
  align-items: flex-end;

  max-height: 50vh;
  max-height: 50dvh;
  overflow-y: auto;
}

.info .info_group_wrap {
  flex-shrink: 0;
  width: 50%;
}

.info .info_sub_title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;

  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
  padding-bottom: 2.5rem;

  width: 11rem;
}

.info .info_group dl {
  display: flex;
  align-items: center;
}

/* .info .info_group dl + dl:not(.skill) { */
.info .info_group dl + dl {
  margin-top: 1rem;
}

.info .info_group dt {
  flex-shrink: 0;

  width: 6rem;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);

  margin-right: 1rem;
}

.info .info_group dd {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 200;
  word-break: break-word;
}

.info .info_group .skill_badge_wrap {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}

.info .info_group .skill_badge {
  min-width: 4rem;

  display: inline-block;
  padding: 0.5rem 1rem;

  text-align: center;

  border: 1px solid #fff;
  border-radius: 10rem;
}

.info .career {
  position: relative;
  padding-left: 3rem;
}

.info .career:before {
  position: absolute;
  top: 0;
  left: 0.7rem;
  content: "";

  width: 0.2rem;
  height: 100%;
  background-color: #fff;
}

.info .career li {
  font-size: 1.3rem;

  margin-top: 1rem;
}

.info .career .career_list {
  position: relative;

  transform: translateY(-2rem);
}

.info .career .career_list:not(:last-child):after,
.info .career .career_list:not(:last-child):before {
  position: absolute;
  top: 50%;
  left: -2.2rem;
  content: "";

  border-radius: 50%;

  transform: translate(-50%, -50%);
  z-index: 5;
}

.info .career .career_list:not(:last-child):after {
  width: 1.2rem;
  height: 1.2rem;

  border: 1px solid #fff;
}

.info .career .career_list:not(:last-child):before {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #e7f2f6;
}

.info .career .career_list:last-child::after,
.info .career .career_list:last-child::before {
  position: absolute;
  top: 50%;
  left: -2.1rem;
  content: "";

  width: 0.2rem;
  height: 1rem;
  background-color: #fff;
  transform-origin: bottom center;

  z-index: 5;
}

.info .career .career_list:last-child::after {
  transform: translate(-100%, -50%) rotate(-45deg);
}
.info .career .career_list:last-child::before {
  transform: translate(-100%, -50%) rotate(45deg);
}

.info .career .company_project .career_list:last-child:after {
  animation: moveDownLeft 1s infinite alternate linear;
  opacity: 0;
}

.info .career .company_project .career_list:last-child:before {
  animation: moveDownRight 1s infinite alternate linear;
  opacity: 0;
}

@keyframes moveDownLeft {
  to {
    opacity: 1;
    transform: translate(-100%, -100%) rotate(-45deg);
  }
}

@keyframes moveDownRight {
  to {
    opacity: 1;
    transform: translate(-100%, -100%) rotate(45deg);
  }
}

.info .date {
  flex-shrink: 0;
  display: inline-block;
  width: 8rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);

  padding-right: 1.5rem;

  /* 한줄처리 */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.info .skill:last-child {
  margin-top: 10rem;
}

/*--------------------- PROJECT --------------------- */
.project {
  position: relative;

  display: flex;
  perspective: 1000px;
}

.project.show .moon {
  width: 20rem;
  height: 20rem;

  transform: translate(-50%, -50%);
}

.project.show .moon_img {
  width: 20rem;
  height: 20rem;
}

.project.show .moon_img:after {
  width: 150%;
  height: 150%;
  content: "";

  border-width: 1.5rem;
}

.project.show .moon_img:before {
  width: 5rem;
  height: 5rem;

  background: #fff;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    transparent
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}

.project .pagination-container {
  position: relative;
  flex-shrink: 0;
  width: 25vw;
  display: flex;
  align-items: center;

  padding-left: 16.5rem;
}

.project .moon {
  position: absolute;
  top: 50%;
  left: 0;

  width: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(calc(-50vw - 50%), -50%);
  transition: all 1s;
}

.project .moon_img {
  position: relative;
  flex-shrink: 0;
  width: 40rem;
  height: 40rem;
}

.project .moon_img canvas {
  width: 100% !important;
  height: 100% !important;
}

.project .moon_bg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 80%;
  height: 80%;
  border-radius: 50%;

  background: linear-gradient(
    90deg,
    rgba(217, 147, 103, 1) 0%,
    rgba(125, 108, 56, 1) 31%,
    rgba(25, 138, 120, 1) 100%
  );
  filter: blur(3rem);

  transform-origin: 50% 45%;
  transform: translate(-50%, -50%);
  transition: all 1s 0.2s;
}

.project .moon_bg.active {
  animation: rotate 3s backwards;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.project .moon_img:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;

  content: "";
  border-radius: 50%;
  border: 3px solid rgba(100, 100, 100, 0.3);

  transform: translate(-50%, -50%);
  transition: all 1s 0.2s;
}

.project .moon_img:before {
  position: absolute;
  top: 0;
  right: 0;

  content: "";
  border-radius: 50%;
  transform: translate(100%, 100%);

  transition: all 1s 0.2s;

  z-index: 5;
}

.project .pagination_cates {
  position: unset !important;
  right: unset !important;
  top: unset !important;
  transform: none !important;

  z-index: 10;
}

.project .pagination_cates {
  position: relative;

  display: flex;
  flex-direction: column;
}

.project .project_cate_list {
  text-align: center;
}

.project .project_cate_list + li {
  margin-top: 1rem;
}

.project .project_cate_list > span {
  display: inline-block;
  padding: 1rem 1.5rem;

  font-size: 2rem;
  color: #fff;

  cursor: pointer;
}

.project .project_cate_list:hover span,
.project .project_cate_list.active span {
  color: var(--mainYellow);
  font-weight: 600;
}

.project .swiper_progressbar {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.project .progressbar_overflow {
  position: relative;
  width: 35rem;
  height: 70rem;
  overflow: hidden;
}

.project .bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #404448;
  border-top-color: #e7f2f6;
  border-left-color: #e7f2f6;

  transform: rotate(0deg);
  transition: transform 0.2s;
}

.project .project_title {
  flex-shrink: 0;
  width: 25vw;

  display: flex;
}

.project .project_title hgroup {
  height: 50%;
  flex-shrink: 0;

  display: grid;
  place-content: center right;
}

.project .project_swiper {
  position: relative;
  flex-shrink: 0;
  width: 50vw;

  border-left: 1px solid #202224;
  border-right: 1px solid #202224;

  padding: 6rem 0;

  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 1s;
  transform-origin: right;
}

.project .project_swiper:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5rem;
  content: "";

  background-image: linear-gradient(
    to top,
    rgba(18, 20, 22, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: 20;
}

.project .project_swiper:after {
  position: absolute;
  top: 0;
  right: 50%;
  content: "";

  width: 1px;
  height: 100%;
  background-color: #202224;
}

.project .swiper-slide:nth-child(odd) .slide_inner {
  margin-left: auto;
}

.project .slide_inner {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
}

.project .slide_title {
  position: absolute;
  bottom: 100%;

  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1rem;

  margin-bottom: 0.3rem;
}

.project .slide_title em {
  font-size: 1.2rem;
}

.project .slide_title b {
  font-size: 4rem;
  color: #404448;
}

.project .project_img {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.project .project_img img {
  height: auto;
  transform-origin: top;
  transition: transform 0.3s;
}

.project .project_img:hover img {
  transform: scale(1.05);
}

.swiper_button_wrap {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
}

.project .project_swiper_next,
.project .project_swiper_prev {
  width: 4rem;
  height: 5rem;

  background: #e7f2f6 url(../image/common/swiper_up.svg) no-repeat center /
    contain;

  z-index: 25;
}

.project .project_swiper_next:hover,
.project .project_swiper_prev:hover {
  background-color: #fff;
}

.project .project_swiper_next.swiper-button-disabled,
.project .project_swiper_prev.swiper-button-disabled {
  opacity: 0.3;
}

.project .project_swiper_next {
  transform: rotate(180deg);
}

/*--------------------- PROJECT DETAIL MODAL --------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100vw;
  height: 100%;

  transform: translateY(100%);
  transition: transform 0.5s;

  z-index: -1;
}

.modal.show {
  transform: translateY(0);
  z-index: 20;
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 20;
}

.modal .close_button {
  position: absolute;
  top: 2rem;
  right: 2rem;

  width: 8rem;
  height: 8rem;
  border-radius: 50%;

  background: #fff url(../image/common/close.svg) no-repeat center / contain;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  z-index: 26;
}

.project_detail {
  position: relative;
  flex-shrink: 0;
  width: 50vw;
  height: 100%;

  color: #121416;
  background-color: #fff;
  margin-left: auto;

  z-index: 25;
}

.project_detail .swiper {
  height: 100%;
}

.modal .detail_wrap {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 10rem 2rem;
}

.modal .detail_img {
  width: 100%;
  height: 40rem;

  margin-bottom: 5rem;
}

.modal .detail_sub_title {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #404448;
}

.modal .detail_sub_title:after {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  width: 5rem;
  height: 0.4rem;
  content: "";

  background-color: var(--mainYellow);
}

.modal .detail_title {
  font-size: 4rem;
  font-weight: 900;

  margin-bottom: 4rem;
}

.modal .detail_util {
  display: flex;

  border-bottom: 1px solid #404448;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.modal .util_content {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .util_content:first-child {
  width: 75%;
}

.modal .util_content:last-child {
  width: 25%;
}

.modal .util_content h5 {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.modal .detail_skill {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.modal .detail_skill > li {
  font-size: 1.3rem;
  color: #404448;

  border: 1px solid #404448;
  border-radius: 5rem;

  padding: 0.5rem 1rem;
}

.modal .detail_working {
  font-size: 1.3rem;
  font-weight: 600;

  color: #404448;
}

.modal .detail_desc li {
  font-size: 1.3rem;
  line-height: 1.8;
  list-style-type: circle;
  list-style-position: inside;
}

.modal .detail_desc li + li {
  margin-top: 0.4rem;
}

.modal .site_link_wrap {
  display: flex;
  justify-content: flex-end;

  margin-top: auto;
}

.modal a.site_link {
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;

  border-radius: 50%;

  background: #fff url(../image/common/link.svg) no-repeat center / contain;
  transition: all 0.4s;
}

.modal a.site_link:hover {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(333deg)
    brightness(105%) contrast(101%);
}

.modal button.site_link {
  font-weight: 600;
  font-size: 2rem;

  color: #121416;
}

.modal .modal_swiper_next,
.modal .modal_swiper_prev {
  position: absolute;
  top: 50%;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background: url(../image/common/arrow_left.svg) no-repeat center / contain;
  transform: translateY(-50%);

  z-index: 25;
}

.modal .modal_swiper_next.swiper-button-disabled,
.modal .modal_swiper_prev.swiper-button-disabled {
  opacity: 0.3;
}

.modal .modal_swiper_prev {
  left: 1rem;
}

.modal .modal_swiper_next {
  right: 1rem;
  transform: translateY(-50%) rotate(180deg);
}

.parallax_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  background: url(../image/common/bg1.svg);
  opacity: 0.3;
  mix-blend-mode: overlay;
}

.modal .detail_sub_title,
.modal .detail_title,
.modal .detail_util,
.modal .detail_desc {
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.3s var(--animationDelay),
    transform 0.4s var(--animationDelay);
}

.modal .swiper-slide-active .detail_sub_title,
.modal .swiper-slide-active .detail_title,
.modal .swiper-slide-active .detail_util,
.modal .swiper-slide-active .detail_desc {
  transform: translateY(0);
  opacity: 1;
}

@media all and (max-width: 1024px) {
  /*--------------------- HOME --------------------- */
  .home_inner {
    grid-template:
      "year . text" 10rem
      ". . ." minmax(150px, calc(100dvh - 26rem))
      ". . desc" 10rem / 1fr 1fr 1fr;
    grid-template:
      "year . text" 10rem
      ". . ." minmax(150px, calc((var(--vh, 1vh) * 100) - 26rem))
      ". . desc" 10rem / 1fr 1fr 1fr;

    grid-template:
      "year . text" 10rem
      ". . ." minmax(150px, calc(100vh - 26rem))
      ". . desc" 10rem / 1fr 1fr 1fr;

    padding: 1rem 1.5rem;
  }

  .home .year {
    font-size: 1.5rem;
  }

  .home .center_svg {
    grid-area: unset;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .home .center_svg text {
    font-size: 30rem;
  }

  /*--------------------- INFO --------------------- */
  .info {
    display: flex;
    flex-direction: column;
  }

  .info:after {
    font-size: 7rem;

    transform: rotate(0) translate(0, -15%);
  }

  .info .info_inner {
    width: 100%;
    height: 80%;

    padding: 2rem 1.5rem;
    overflow-y: auto;

    margin-top: auto;
  }

  .info .profile_img_wrap {
    display: none;
  }

  .info .profile .profile_short_info {
    line-height: 1.6;

    margin-bottom: 2rem;
  }

  .info .profile .profile_short_info:before {
    height: 3rem;
  }

  .info .info_content {
    display: flex;
    align-items: unset;
    max-height: none;
    overflow-y: unset;

    flex-direction: column;
  }

  .info .info_group_wrap {
    width: 100%;
  }

  .info .info_group_wrap + .info_group_wrap {
    margin-top: 2rem;
  }

  .info .info_sub_title {
    font-size: 1.6rem;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .info .info_group dl + dl {
    margin-top: 0.6rem;
  }

  .info .info_group dt {
    width: 4.3rem;
    font-size: 1.3rem;
  }

  .info .info_group dd {
    font-size: 1.2rem;
  }

  .info .info_group .skill_badge_wrap {
    gap: 0.4rem;
  }

  .info .info_group .skill_badge {
    min-width: 4rem;
  }

  .info .career {
    position: relative;
    padding-left: 3rem;
  }

  .info .career:before {
    position: absolute;
    top: 0;
    left: 0.7rem;
    content: "";

    width: 0.2rem;
    height: 100%;
    background-color: #fff;
  }

  .info .career li {
    font-size: 1.3rem;

    margin-top: 0.5rem;
  }

  .info .date {
    width: 7rem;
    font-size: 1.3rem;

    padding-right: 0.7rem;
  }

  .info .skill:last-child {
    margin-top: 2rem;
  }

  /*--------------------- PROJECT --------------------- */
  .project {
    flex-direction: column;
    padding-top: 1.5rem;
  }

  .project.show .moon {
    width: 30rem;
    height: 30rem;

    transform: translate(calc(50vw - 50%), -80%);
  }

  .project.show .moon_img {
    width: 30rem;
    height: 30rem;
  }

  .project.show .moon_img:after {
    width: 120%;
    height: 120%;
    content: "";

    border-width: 0.3rem;
  }

  .project.show .moon_bg {
    transform: translate(-50%, -40%);
  }

  .project .pagination-container {
    order: 2;
    width: 100%;

    justify-content: center;
    padding-left: 0;
  }

  .project .moon {
    top: 0;
    width: 30rem;
    height: 30rem;
    transform: translate(calc(-50vw - 50%), -10%);
  }

  .project .moon_img {
    width: 30rem;
    height: 30rem;
  }

  .project .moon_bg {
    transform: translate(-50%, -85%);
  }

  @keyframes rotate {
    to {
      transform: translate(-50%, -85%) rotate(360deg);
    }
  }

  .project .moon_img:after {
    width: 110%;
    height: 110%;
  }

  .project .pagination_cates {
    flex-direction: row;
    justify-content: center;
  }

  .project .project_cate_list {
    text-align: center;
  }

  .project .project_cate_list + li {
    margin-top: 0;
    margin-left: 1rem;
  }

  .project .project_cate_list > span {
    font-size: 1.7rem;
  }

  .project .swiper_progressbar {
    display: none;
  }

  .project .project_title {
    position: relative;

    order: 1;
    width: 100vw;

    display: flex;
    margin-bottom: 1rem;

    z-index: 6;
  }

  .project .project_title hgroup {
    width: 100%;

    height: auto;
    display: flex;
    justify-content: space-between;

    padding: 0 1.5rem;
  }

  .project .project_swiper {
    order: 3;
    width: 100%;
    height: 70vh;
    height: 70dvh;

    padding: 3rem 0;

    margin-top: auto;
  }

  .project .project_swiper:before {
    height: 3rem;
  }

  .project .slide_title b {
    font-size: 2.2rem;
  }

  .project .project_img:hover img {
    transform: none;
  }

  /*--------------------- PROJECT DETAIL MODAL --------------------- */
  .modal .close_button {
    top: 1rem;
    right: 1em;

    width: 5rem;
    height: 5rem;
  }

  .project_detail {
    width: 100vw;
    height: 100%;
  }

  .modal .detail_wrap {
    width: 90%;
    padding: 2.5rem 1.5rem;
  }

  .modal .detail_img {
    width: 100%;
    height: 20rem;

    margin-bottom: 2rem;
  }

  .modal .detail_sub_title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .modal .detail_sub_title:after {
    bottom: calc(100% + 0.5rem);
  }

  .modal .detail_title {
    font-size: 2.3rem;

    margin-bottom: 1.3rem;
  }

  .modal .detail_util {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .modal .util_content:first-child {
    width: 65%;
  }

  .modal .util_content:last-child {
    width: 35%;
  }

  .modal .util_content h5 {
    font-size: 1.3rem;

    margin-bottom: 0.5rem;
  }

  .modal .detail_skill > li {
    font-size: 1rem;

    padding: 0.3rem 0.5rem;
  }

  .modal .detail_working {
    font-size: 1.6rem;
  }

  .modal .detail_desc li {
    font-size: 1.3rem;
    line-height: 1.3;
  }

  .modal a.site_link {
    width: 5rem;
    height: 5rem;
  }

  .modal button.site_link {
    font-size: 1.5rem;
  }

  .modal .modal_swiper_next,
  .modal .modal_swiper_prev {
    width: 3rem;
    height: 3rem;
  }

  .modal .modal_swiper_prev {
    left: -0.5rem;
  }

  .modal .modal_swiper_next {
    right: -0.5rem;
  }

  .parallax_bg {
    opacity: 0.1;
  }
}
