body {
  background: url(./image/bg.png) no-repeat center/ cover;
  overflow: hidden;
}

main {
  display: grid;
  width: 90vw;
  max-width: 900px;
  padding: 2rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2.5rem;

  grid-template-areas:
    "title        title       title"
    "d23      d20     d12"
    "d2       d14     d4"
    "d5       d22     d16"
    "d1       d7      d9"
    "d10      d11     d18"
    "d13      d3      d15"
    "d6       d17     d8"
    "d19      d24     d21";
}
@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "title title title d1 d2 d3"
      "title title title d4 d5 d6"
      "title title title d7 d8 d9"
      "d10 d11 d12 d13 d14 d15"
      "d16 d17 d24 d24 d18 d19"
      "d20 d21 d24 d24 d22 d23";
  }
}
.title {
  grid-area: title;
  align-self: center;
}
.title img {
  object-fit: contain;
  height: auto;
}
.title b {
  color: rgb(255, 158, 169);
}
.card-wrap {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.default-card {
  position: relative;
}
.date {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  font-size: 2rem;
  font-weight: 600;
}

.opened-card {
  position: absolute;
  inset: 0;
  display: none;
}
.card-wrap.active .opened-card {
  display: block;
  perspective: 1000;
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/* 모달 */
dialog {
  padding: 3rem 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  transition-behavior: allow-discrete;
  opacity: 0;
  margin: auto;
  transform: translateY(50px);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.7s;
  transition-behavior: allow-discrete;
  /* backdrop-filter: blur(10px); */
}

dialog[open] {
  @starting-style {
    transform: translateY(50px);
    opacity: 0;
  }

  transform: translateY(0);
  opacity: 1 !important;
}

#modal .modal-inner {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
#modal .close-btn {
  width: 3rem;
  height: 3rem;
  z-index: 2;
  align-self: flex-end;
}
#modal figure {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
#modal figcaption {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
}

/* https://edu.spartacodingclub.kr/advent-calendar */
