@charset "utf-8";
.home {
}

.home svg polygon {
  fill: none;
  stroke: #09d;
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear forwards;
  animation: dash 5s linear forwards;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.info {
  position: relative;
}

.info.show .info_inner {
  opacity: 1;
}

.info .info_inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  height: 100%;

  margin-left: auto;
  padding: 5rem 3rem;
  background: rgba(0, 0, 0, 0.8);

  transition: opacity 1s linear;
  opacity: 0;
  z-index: 100;
}

.info:after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24rem;
  font-weight: 600;
  line-height: 1.5;

  content: "Information";
  color: #222;
  z-index: 5;
  mix-blend-mode: exclusion;
  transform-origin: top left;

  transform: rotate(90deg) translate(0, -65%);
}

.info .profile {
}

.info .profile_img_wrap {
  width: 60%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.info .profile .circle {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.info .profile .circle .circle {
  position: absolute;
  top: 0;
  left: 70%;
  z-index: -1;
}

.info .profile .profile_img img {
  width: 8rem;
  height: 8rem;
}

.info .profile .profile_short_info {
  font-size: 1.4rem;
  line-height: 1.8;
}

.info .profile .profile_short_info:before {
  display: inline-block;
  width: 2px;
  height: 12rem;
  content: "";
  background-color: #fff;

  margin-bottom: 3rem;
}

.info .info_content {
  display: flex;
  align-items: flex-end;
}

.info .info_group {
  flex-shrink: 0;
  width: 50%;
}

.info .info_group dl {
  display: flex;
  align-items: center;
}

.info .info_group dl + dl:not(.skill) {
  margin-top: 1rem;
}

.info .info_group dt {
  flex-shrink: 0;

  width: 6rem;
  font-size: 1.7rem;
  font-weight: 800;
  margin-right: 1rem;
}

.info .info_group dd {
  font-size: 1.5rem;
  font-weight: 200;
  word-break: break-word;
}

.info .info_group .skill_badge {
  min-width: 4rem;

  display: inline-block;
  padding: 0.5rem 1rem;

  text-align: center;

  border: 1px solid #fff;
  border-radius: 10rem;
}

.info .info_group .skill_badge + span {
  margin-left: 1rem;
}

.info .career_title {
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 5px;

  margin-bottom: 1.2rem;
}

.info .career li {
  font-size: 1.3rem;
}

.info .career .career_list {
  display: flex;
  align-items: baseline;
}

.info .date {
  display: inline-block;
  width: 15rem;

  font-weight: 600;
  text-align: justify;

  margin-right: 1.5rem;
}

.info .date:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* SKILL */
.info .skill {
  margin-top: 10rem;
}

.project {
  position: relative;

  display: flex;
  perspective: 1000px;
}

.project.show .moon_img {
  width: 20rem;
  height: 20rem;

  transform: translate(-50%, -50%);
}

.project.show .moon_img:after {
  width: 200%;
  height: 200%;
  content: "";
}

.project .pagination-container {
  position: relative;
  flex-shrink: 0;
  width: 25vw;
  display: flex;
  align-items: center;

  padding-left: 10rem;
}

.project .moon_img {
  position: absolute;
  top: 50%;
  left: 0;

  width: 40rem;
  height: 40rem;
  background: url(../image/common/full_moon.png) no-repeat center / contain;
  transform: translate(calc(-50vw - 50%), -50%);
  transition: all 0.5s;
}

.project .moon_bg {
  position: absolute;
  top: 50%;
  left: 0;

  width: 42rem;
  height: 42rem;
  border-radius: 50%;

  background: linear-gradient(
    90deg,
    rgba(217, 147, 103, 1) 0%,
    rgba(125, 108, 56, 1) 31%,
    rgba(25, 138, 120, 1) 100%
  );
  filter: blur(3rem);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);

  transform-origin: 50% 45%;
  transform: translate(calc(-50vw - 50%), -50%);
  transition: all 0.5s;
}

.project .moon_bg.active {
  animation: rotate 3s backwards;
}

@keyframes rotate {
  to {
    transform: translate(calc(-50vw - 50%), -50%) rotate(360deg);
  }
}

.project .moon_img:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;

  border-radius: 50%;
  border: 2px solid #404448;

  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

/* .project .moon_img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;

  content: "";
  border-radius: 50%;
  border: 2px solid #404448;

  transform: translate(-50%, -50%);
} */

.project .pagination_cates {
  position: unset !important;
  right: unset !important;
  top: unset !important;
  transform: none !important;
}

.project .pagination_cate {
  position: relative;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  background-color: #404448;
}

.project .project_cate_list {
  flex: 1;
  padding: 1rem 1.5rem;

  cursor: pointer;
}

.project .project_cate_list + li {
  margin-top: 1rem;
}

.project .project_cate_list b {
  font-size: 1rem;
}

.project .project_cate_list.active {
  opacity: 1;
}

.project .swiper-scrollbar {
  top: 50% !important;
  left: 0 !important;
  right: unset !important;

  width: 20rem !important;
  height: 40rem !important;
  border-radius: 0 20rem 20rem 0;

  overflow: hidden;

  /* background: #404448; */
  border: 2px solid #404448;

  transform: translateY(-50%);
}

/* .project .swiper-scrollbar:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 19.5rem;
  height: 39rem;

  border-radius: 0 19.5rem 19.5rem 0;
  content: "";
  background: #121416;

  transform: translateY(-50%);
} */

.project .swiper-scrollbar-drag {
  background: #fff;

  width: 105% !important;
}

.project .project_title {
  flex-shrink: 0;
  width: 25vw;

  display: flex;
}

.project .project_title hgroup {
  height: 50%;
  flex-shrink: 0;

  display: grid;
  place-content: center right;
}

.project .project_swiper {
  position: relative;
  flex-shrink: 0;
  width: 50vw;

  border-left: 1px solid #202224;
  border-right: 1px solid #202224;

  padding: 6rem 0;

  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 1s;
  transform-origin: right;
}

.project .project_swiper.active {
  transform: rotateY(2deg);
}

.project .project_swiper:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5rem;
  content: "";

  background-image: linear-gradient(
    to top,
    rgba(18, 20, 22, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: 20;
}

.project .project_swiper:after {
  position: absolute;
  top: 0;
  right: 50%;
  content: "";

  width: 1px;
  height: 100%;
  background-color: #202224;
}

.project .swiper-slide:nth-child(odd) .slide_inner {
  margin-left: auto;
}

.project .slide_inner {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
}

.project .slide_title {
  position: absolute;
  bottom: 100%;

  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1rem;

  margin-bottom: 0.3rem;
}

.project .slide_title em {
  font-size: 1rem;
}

.project .slide_title b {
  font-size: 4rem;
  color: #404448;
}

.project .project-img {
  width: 100%;
  height: 100%;
}
