@charset "utf-8";

/* HEADER */
#header {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;
  overflow-y: auto;

  z-index: 20;
  transition: all 0.5s;
}

#header.show {
  top: 0;
}

#header .header-inner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  background-color: #fcf3e4;
}
#header .top-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header .menu-button {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;

  background-color: #111;
  border-radius: 5px;
}

#header .menu-button i {
  color: #fff;
}

#header .menu-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
#header .menu-wrap > ul {
}

#header .menu-link {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;

  letter-spacing: -2px;

  z-index: 1;
}

#header .menu-link::first-letter {
  font-size: 2.5rem;
}

#header .menu-link:after {
  position: absolute;
  top: 70%;
  right: 0;

  width: 0;
  height: 2px;
  content: "";
  background-color: #222;

  transition: all 0.2s;
}

#header .menu-link:before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 0;
  height: 2rem;
  content: "";
  background-color: #fac670;
  border-radius: 50%;

  transition: all 0.2s 0.2s;
  transform: translate(20%, -50%);

  z-index: -1;
}

#header .menu-link:hover:after {
  width: 100%;
}

#header .menu-link:hover::before {
  width: 2rem;
}
#header .menu-link:hover::first-letter {
  color: #444;
}

#header .util-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: auto;
}

#header .util-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.2rem;
  height: 3.4rem;
  font-size: 2rem;

  border: 4px solid #1b1a19;
}
#header .util-wrap a:hover {
  background-color: #1b1a19;
  color: #fff;
}

#header .util-wrap a + a {
  margin-left: 1rem;
}

#header .header-copyright {
  display: flex;
  flex-direction: column;

  height: 20vh;
  background-color: #f37925;
}

#header .header-copyright p {
  font-size: 6.5rem;
  font-weight: bold;
  letter-spacing: -4px;

  margin-top: auto;
  padding: 0.5rem 1rem;
}

/* MAIN */
#main {
}
#main > section {
}
#main .inner-container {
  padding: 1rem;
}

/* layout */
.inner {
  display: flex;
  width: 100%;
  height: 100%;
}

article {
  padding: 2rem 2.5rem 2.5rem;
}

/* BUTTON */

/* jelly_action */
.jelly_text span {
  display: inline-block;
  font-size: calc(100vw * (120 / 1920));
  letter-spacing: -5px;
  transform-origin: center;
}

.jelly_text span.active {
  animation: jello-horizontal 1s alternate ease-out;
}

.jelly_text span:nth-child(2n) {
  animation-delay: 0.1s;
}

.jelly_text span:nth-child(3n) {
  animation-delay: 0.2s;
}

.jelly_text span:nth-child(4n) {
  animation-delay: 0.3s;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* hover_button */
.hover_button {
  display: inline-block;
  position: relative;
  border: 1px solid rgb(5, 253, 216);
  color: rgb(5, 253, 216);
  font: calc(100vw * (18 / 1920)) "One";

  padding: calc(100vw * (15 / 1920)) calc(100vw * (50 / 1920));
  letter-spacing: 5px;
  transform-origin: left top;
  transition: all 0.4s;
  z-index: 1;

  overflow: hidden;
}

.hover_button:after {
  position: absolute;
  top: 50%;
  left: calc(100vw * (-50 / 1920));
  content: "";

  width: 0;
  height: 300%;

  background-color: rgb(5, 253, 216);
  transition: all 0.8s;
  z-index: -1;
  transform: rotate(15deg) translateY(-50%);
}

.hover_button:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";

  width: calc(100vw * (5 / 1920));
  height: calc(100vw * (5 / 1920));

  background-color: rgb(5, 253, 216);
}

.hover_button:hover {
  font-family: 700;
  color: #1c1c1c;
}

.hover_button:hover:after {
  width: 200%;
}
