@charset "utf-8";

/* HEADER */
#header {
}

#header .header-inner {
}

#header .top-content {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 4rem;
  height: 30vh;
}
#header .logo {
  font-size: 2rem;
  color: #fff;
}

#header .menu-wrap {
  display: flex;
  height: 70vh;
  min-height: 10rem;
}

#header .menu-wrap > .menu-container {
  width: 50%;
}

#header .menu-container {
  display: flex;
  flex-shrink: 0;
}

#header .menu-group-right {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  margin-left: 0.375rem;
}

#header .menu-group-right .menu-container {
  flex: 1;
}

#header .menu-row {
  margin-bottom: 0.375rem;
}

#header .menu-row a:last-child {
  margin-left: 0.375rem;
}

#header .menu-card {
  position: relative;
  width: 100%;
  border-radius: 5rem;
  padding: 2rem 3rem;

  overflow: hidden;
}

#header .card-content {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 1;
}

#header .card-top,
#header .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .card-top b {
  font-size: 2rem;
  color: #fff;
}
#header .card-top span {
  display: grid;
  place-content: center center;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1rem;

  font-size: 2rem;
  background-color: #fff;
}

#header .card-bottom span {
  font-size: 1rem;
  color: #fff;
}

/* piano */
#header .card-piano {
  position: absolute;
  width: 100%;
  height: 10rem;

  bottom: 0;
  right: 1rem;

  opacity: 0.3;

  z-index: 0;
}

#header .card-piano ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;

  overflow: hidden;
}

#header .card-piano li {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;

  width: 15%;
  height: 100%;

  border-radius: 5px 5px 0 0;
  animation: pianoAction 1.5s alternate infinite;
}

@keyframes pianoAction {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

#header .card-piano li:not(:nth-child(odd)) + li {
  margin-left: 1%;
}

#header .card-piano li:nth-child(even) {
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 5rem;
  background-color: var(--black);

  z-index: 3;
}

#header .card-piano li:nth-child(1) {
  background-color: var(--skyblue);
  animation-delay: 0.2s;
}

#header .card-piano li:nth-child(2) {
  right: 58.5%;
  animation-delay: 0.8s;
}

#header .card-piano li:nth-child(3) {
  background-color: var(--yellow);
  animation-delay: 0.4s;
}

#header .card-piano li:nth-child(4) {
  right: 42.5%;
  animation-delay: 1s;
}

#header .card-piano li:nth-child(5) {
  background-color: var(--beige);
  animation-delay: 0.3s;
}

#header .card-piano li:nth-child(6) {
  right: 26.5%;
  animation-delay: 0.7s;
}

#header .card-piano li:nth-child(7) {
  background-color: var(--skyblue);
  animation-delay: 0.1s;
}

#header .card-piano li:nth-child(8) {
  right: 10.5%;
}

#header .card-piano li:nth-child(9) {
  background-color: var(--purple);
  animation-delay: 0.6s;
}

#header .card-piano button {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;

  border-radius: 5px;
}

/* float-text */
#header .card-float-text {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;

  color: #fff;
  font-size: 5rem;
  white-space: nowrap;

  z-index: 1;
  transform: translateY(-50%);
}

#header .card-float-text span {
  animation: floatText 5s infinite linear;
}

@keyframes floatText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* card color list */
#header .blue-card {
  background-color: var(--skyblue);
}

#header .yellow-card {
  background-color: var(--yellow);
}

#header .beige-card {
  background-color: var(--beige);
}

#header .orange-card {
  background-color: var(--orange);
}

#header .purple-card {
  background-color: var(--purple);
}

/* MAIN */
#main {
  padding-bottom: 17rem;
  /* height: 100vh;

  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

#main > section {
  position: relative;
  /* height: 100vh;

  scroll-snap-align: end;
  scroll-snap-stop: always;
  scroll-behavior: smooth; */
}

#main .inner-container {
  padding: 1rem;
}

/* layout */
.inner {
  display: flex;
  width: 100%;
  height: 100%;
}
.inner > article {
  flex-shrink: 0;
  width: 50%;
}

article {
  padding: 1.5rem 2rem 2rem;
}

/* jelly_action */
.jelly-text span {
  display: inline-block;
  font-size: calc(100vw * (120 / 1920));
  letter-spacing: -5px;
  transform-origin: center;
}

.jelly-text span.active {
  animation: jello-horizontal 1s alternate ease-out;
}

.jelly-text span:nth-child(2n) {
  animation-delay: 0.1s;
}

.jelly-text span:nth-child(3n) {
  animation-delay: 0.2s;
}

.jelly-text span:nth-child(4n) {
  animation-delay: 0.3s;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* hover_button */
.hover_button {
  display: inline-block;
  position: relative;
  border: 1px solid rgb(5, 253, 216);
  color: rgb(5, 253, 216);
  font: calc(100vw * (18 / 1920)) "One";

  padding: calc(100vw * (15 / 1920)) calc(100vw * (50 / 1920));
  letter-spacing: 5px;
  transform-origin: left top;
  transition: all 0.4s;
  z-index: 1;

  overflow: hidden;
}

.hover_button:after {
  position: absolute;
  top: 50%;
  left: calc(100vw * (-50 / 1920));
  content: "";

  width: 0;
  height: 300%;

  background-color: rgb(5, 253, 216);
  transition: all 0.8s;
  z-index: -1;
  transform: rotate(15deg) translateY(-50%);
}

.hover_button:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";

  width: calc(100vw * (5 / 1920));
  height: calc(100vw * (5 / 1920));

  background-color: rgb(5, 253, 216);
}

.hover_button:hover {
  font-family: 700;
  color: #1c1c1c;
}

.hover_button:hover:after {
  width: 200%;
}

footer {
  display: none;
  width: 100%;
  height: 17rem;

  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;

  background-color: var(--black);
  overflow: hidden;
}

footer p {
  font-size: 8rem;
  color: #fff;
}

@media all and (max-width: 1300px) {
  /* MAIN */
  #main {
    /* padding-bottom: 17rem; */
  }
  #main > section {
    /* position: relative; */
  }
  #main .inner-container {
    /* padding: 1rem; */
  }

  /* layout */
  section:not(.project-section) .inner {
    flex-direction: column;
  }
  section:not(.project-section) .inner > article {
    flex-shrink: 0;
    width: 100%;
  }

  article {
    padding: 1rem;
  }
}

@media (hover: none) {
}
