@charset "UTF-8";
@keyframes blink-red {
  0% {
    outline-color: red;
  }
  49.9% {
    outline-color: red;
  }
  50% {
    outline-color: transparent;
  }
  100% {
    outline-color: transparent;
  }
}
@keyframes blink-gold {
  0% {
    outline-color: gold;
  }
  49.9% {
    outline-color: gold;
  }
  50% {
    outline-color: transparent;
  }
  100% {
    outline-color: transparent;
  }
}

ul > :not(li),
ol > :not(li) {
  content: "ul, ol 태그 바로 아래 넣을 수 있는 것은 li 태그뿐입니다.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

dl > :not(dt):not(dd):not(div) {
  content: "dl 태그 바로 아래 넣을 수 있는 것은 dt, dd, div 태그입니다.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

a[name] {
  content: "name속성은 HTML5에서 폐지되었습니다.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

a[href="javascript:void(0)"] {
  content: "a태그는 페이지 이동을 위해서만 사용해야 합니다.";
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

a[target="_blank"]:not([rel="noreferrer noopener"]) {
  content: 'target="_blank"의 경우 악용 방지를 위해 rel="noreferrer noopener"를 사용할 것을 권장합니다.';
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

/* img 태그에  alt 속성이 없습니다 */
img:not([alt]),
img[alt=""] {
  display: block;
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

img:not([width]),
img[width=""],
img:not([height]),
img[height=""] {
  display: block;
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

:root iframe:nth-of-type(4) {
  content: "4개이상의 iframe 사용은 성능에 영향을 미칩니다.";
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

time:not([datetime]),
time[datetime=""] {
  content: "datetime 속성이 없는 경우 또는 유효한 값이 입력되었는가？";
  outline: 2px solid gold;
  animation: blink-gold 1s infinite;
}

time:not([datetime]) *,
time[datetime=""] * {
  content: "datetime 속성이 없는 경우 자손요소를 가질 수 없습니다.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

font,
center,
frame,
blink,
marquee,
*[align],
*[color],
*[bgcolor],
*[border],
*[background] {
  content: "오래된 태그 및 속성이 사용되었습니다.스타일을 이용하세요.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

hgroup > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  content: "hgroup 태그 안에 허용된 태그는 h1~h6입니다.";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

table > * ~ caption {
  content: "capption 태그는 table 태그의 첫 번째 요소로 배치되어야 합니다";
  outline: 2px solid red;
  animation: blink-red 1s infinite;
}

/* br 태그 중복 사용을 하지 맙시다 */
br + br {
  display: none;
}
