@charset "utf-8";

:root {
  --skyblue: #91c3ce;
  --yellow: #fac670;
  --beige: #f5e1be;
  --orange: #f37925;
  --purple: #c0a8e6;
  --black: #1b1a19;
  --blue: #49a3a7;
}

@font-face {
  font-family: "BasicFont";
  font-style: normal;
  font-weight: 400;
  src: local("ONE Mobile POP"), url("./fonts/ONE-Mobile-POP.otf") format("woff");
  unicode-range: U+AC00- U+D7A3;
}

@font-face {
  font-family: "BasicFont";
  src: local("FredokaOne-Regular"), url("./fonts/FredokaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

html,
body,
div,
span,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
address,
pre,
cite,
form,
fieldset,
input,
textarea,
select,
table,
th,
td,
button {
  margin: 0;
  padding: 0;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

fieldset,
abbr {
  border: 0 none;
}

ul,
ol,
dl {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  border: 0;
}

address,
strong,
em,
cite {
  font-weight: normal;
  font-style: normal;
}

caption {
  font-style: normal;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
video {
  border: 0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  image-rendering: -moz-auto;
  /*firefox*/
  image-rendering: -o-auto;
  /*opera*/
  image-rendering: -webkit-optimize-contrast;
  /*webkit*/
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-perspective: 1;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="button"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

/* Chorme internal-autofill-selected  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--beige) inset;
}

input,
select,
textarea,
button {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
  color: var(--black);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-border-radius: 0;
}

address {
  font-style: normal;
}

details summary::-webkit-details-marker {
  display: none;
}

/* 초기 셋팅 값 */
html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  letter-spacing: normal;
  -webkit-tap-highlight-color: transparent;

  /* background-color: #fff; */
  background-color: #000;
  color: var(--black);
  scroll-behavior: smooth;
}

body {
  font: 400 1rem/1.2 "BasicFont", sans-serif;
}

input,
select,
textarea,
button {
  font-family: "BasicFont";
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

input,
textarea {
  color: #444;
}

input::placeholder,
textarea::placeholder {
  color: #888888;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 3px;
}

::selection {
  background: #d4c951;
  /* background: var(--purple); */
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
}
/* 더블클릭시 선택 기능 막기*/
.unable {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/*  한줄처리 */
.p_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.p_2 {
  /* 두줄처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.nowrap {
  /*    한줄처리  width 값 필요*/
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.mobile-only,
.tablet-only {
  display: none;
}

@media all and (max-width: 1920px) {
  body {
  }
}

@media all and (max-width: 1500px) {
  .tablet-only {
    display: block;
  }

  body {
  }
}

@media all and (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  .pc-only,
  .tablet-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  body {
  }
}
