@charset "utf-8";

/* INFO SECTION */
.info-section {
  width: 100%;
}

.info-section .inner,
.info-section article {
  height: 100%;
}

.info-text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fac670;

  padding: 2rem;
  overflow: hidden;
}

.info-text-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 5rem;
}

.info-section .image {
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;

  overflow: hidden;
  border-radius: 50%;
}

.info-section .fa-snowboarding {
  animation: snowboarding 5s linear infinite alternate;
  transition: all 0.2s;
}

@keyframes snowboarding {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0.625rem, 2px);
    transform: translate(0.625rem, 2px);
  }
  100% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

/* PROJECT SECTION */
.project-section {
}

.project-section .inner {
  position: relative;
  display: flex;
  height: 100%;
}

.project-section .project-list-container {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  flex-shrink: 0;
  width: 50%;
}

.project-section .project-list-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: calc(100vw - 1rem);
  height: 100vh;
  background-color: var(--purple);
  border-radius: 50px;

  z-index: -1;
}

.project-section .project-list-container h2 {
  margin-bottom: 2rem;
}

.project-section .project-list-wrap {
  max-height: 60vh;
  overflow: overlay;
}

.project-section .project-list-wrap::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
}

.project-section .project-list-wrap li.active {
}

.project-section .project-list-wrap li + li {
  margin-top: 0.375rem;
}

.project-section .project {
  position: relative;

  display: inline-block;

  border-radius: 50px;
  border: 2px solid var(--black);
  background-color: #eeebf2;

  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}

.project-section .project b {
  display: block;

  font-size: 1.5rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.project-section .project b:after {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  content: attr(data-text);
  background: var(--black);
  border-radius: 50%;
  color: var(--purple);

  transition: all 0.2s;
  transform: skew(-80deg);
}

.project-section .project:hover b {
  transform: translateY(100%);
}

.project-section .project:hover b:after {
  transform: skew(0);
  border-radius: 50px;
}

.project-section .project-text-container {
  position: relative;
  flex-shrink: 0;
  width: 50%;
}

.project-section .project-text-list {
  position: relative;
}

.project-section .project-text-list li {
  display: grid;
  place-content: center center;
  width: 100%;

  margin-bottom: 3rem;
}

.project-section .project-img {
  width: 100%;
  border: 2px solid var(--black);

  border-radius: 40px;
  overflow: hidden;

  cursor: url("../image/arrow-cursor.svg") 20 30, auto;
}

/* .project-section .project-list-box {
  position: sticky;
  top: 5%;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;

  height: 90vh;

  width: 50%;
  flex-shrink: 0;
}

.project-section .project-list-box:after {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 0.75rem);
  height: 100%;
  content: "";

  padding: 0.375rem;

  background-color: var(--purple);
  border-radius: 4rem;
  box-sizing: border-box;

  z-index: -1;
}

.project-section .project-list-box h2 {
  font-size: 5rem;
}

.project-section .project-list-wrap {
  max-height: 50vh;
  overflow: overlay;
}

.project-section .project-list-wrap::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
}

.project-section .project-list-wrap li.active {
}

.project-section .project-list-wrap li + li {
  margin-top: 0.375rem;
}

.project-section .project {
  position: relative;

  display: inline-block;

  border-radius: 50px;
  border: 2px solid var(--black);
  background-color: #eeebf2;

  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}

.project-section .project b {
  display: block;

  font-size: 1.5rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.project-section .project b:after {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  content: attr(data-text);
  background: var(--black);
  border-radius: 50%;
  color: var(--purple);

  transition: all 0.2s;
  transform: skew(-80deg);
}

.project-section .project:hover b {
  transform: translateY(100%);
}

.project-section .project:hover b:after {
  transform: skew(0);
  border-radius: 50px;
} */

.project-section .project-detail-box {
  /* position: relative;
  width: 50%;
  flex-shrink: 0; */

  /* scroll-snap-align: end;
  scroll-snap-stop: always;
  scroll-behavior: smooth; */
}

/* .project-section .project-content {
  border: 2px solid var(--black);
  border-radius: 40px;
  overflow: hidden;

  cursor: url("../image/arrow-cursor.svg") 20 30, auto;
} */

/* SKILL SECTION */
.skill-section {
  height: 100vh;
  background-color: var(--black);
  color: #fff;
}

.skill-list {
  padding: 10rem;
}

.skill-list li {
  position: relative;
  display: flex;
}

.skill-list .ball {
  position: relative;
  width: 10rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background: radial-gradient(circle at 75% 30%, #fff 5px, #a16bfe 8%, #7327f5 60%, #a16bfe 100%); */
  background: radial-gradient(circle at 75% 30%, #fff 5px, #4ad5ff 8%, #18bcee 60%, #4ad5ff 100%);
  border-radius: 50%;
  box-shadow: inset 0 0 0.75rem #fff, inset 0.5rem 0 1.5rem #eaf5fc, inset -0.75rem -1.75rem 2.75rem #fde9ea, inset 0 1.5rem 3.75rem #fde9ea, 0 0 2.5rem #fff;
  animation: float 3.5s ease-in-out alternate infinite;
}

.skill-list .ball button {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.skill-list .shadow {
  position: absolute;
  top: 110%;
  left: 50%;
  width: 9rem;
  height: 1.4rem;

  margin-left: -4.5rem;
  background-color: #b490b2;
  border-radius: 50%;
  animation: expand 3.5s alternate infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4rem);
  }
}

@keyframes expand {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

/* 
.skill-list {
  position: absolute;
}

.skill-list button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.skill-list i {
  font-size: 2rem;
}

.skill-list button:nth-child(1) {
  background-color: var(--skyblue);
}
.skill-list button:nth-child(2) {
  background-color: var(--orange);
}
.skill-list button:nth-child(3) {
  background-color: var(--purple);
}
.skill-list button:nth-child(4) {
  background-color: var(--yellow);
} */

/* CONTACT SECTION */
.contact-section {
  min-height: 80vh;
}

.contact-section .inner {
  display: flex;
  height: 100%;
}

.contact-section .contact-title-box {
  position: relative;
  width: 40%;
  background-color: var(--yellow);

  margin-right: 0.375rem;
}

.contact-section .contact-title-box h2 {
  position: sticky;
  top: 0;

  font-size: 2rem;
}

.contact-section .contact-form-box {
  flex: 1;
  background-color: #fff;
}

.contact-section form {
  height: 100%;
}

.contact-form-box fieldset {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.contact-form-box legend {
  font-size: 2.5rem;

  margin-bottom: 1.5rem;
}

.contact-form-box .form-input {
  width: 100%;

  margin-bottom: 5rem;
}

.contact-form-box .input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: var(--beige);
  border: 1px solid var(--orange);
  border-radius: 50px;

  padding: 1rem 2rem;
  margin-bottom: 0.375rem;
}

.contact-form-box .input-wrap label {
  color: var(--orange);
}

.contact-form-box .input-wrap input {
  transition: all 0.2s;
  background-color: var(--beige);

  margin-top: 0.5rem;
  padding: 0.3rem 0;
}

.contact-form-box .input-wrap input:invalid {
  border-bottom: 1px solid var(--orange);
}

.contact-form-box .input-wrap textarea {
  margin-top: 0.5rem;
}

.contact-section .contact-util {
  margin-top: auto;
}

.contact-section .contact-util {
  margin-top: auto;
}

.contact-section .util-wrap {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;
}

.contact-section .util-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.2rem;
  height: 3.4rem;
  font-size: 2rem;

  border: 4px solid #1b1a19;
}

.contact-section .util-wrap a:hover {
  background-color: #1b1a19;
  color: #fff;
}

.contact-section .util-wrap li + li {
  margin-left: 1rem;
}

.contact-section .send-button {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;

  padding: 1rem 2rem;

  border-radius: 50px;
  background-color: var(--orange);
}

/* modal */
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: none;
  place-content: center center;

  background-color: rgba(24, 24, 27, 0.92);
  z-index: 20;
}

.modal-wrap .modal {
  display: none;
  padding: 4rem 8rem;
}
.modal-wrap .modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";

  background-color: rgba(24, 24, 27, 0.92);

  cursor: grab;
}

.modal-wrap .close-button {
  position: absolute;
  top: -3rem;
  right: -3rem;

  display: grid;
  place-content: center;
  font-size: 2rem;
  border: 2px solid black;
  padding: 1rem;

  background: var(--yellow);
  border-radius: 50%;

  width: 4rem;
  height: 4rem;

  transition: all 0.4s;
}

.modal-wrap .close-button:hover {
  transform: rotate(360deg);
}

.modal-wrap .modal-content {
  position: relative;
  background-color: #fff;
  max-height: 90vh;

  border-radius: 50px;

  padding: 4rem 5rem;
}

.modal-wrap .project-sub-title {
  font-size: 1.5rem;
  margin-bottom: 0.375rem;
}

.modal-wrap .project-title {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;

  z-index: 1;
}

.modal-wrap .project-title:before {
  position: absolute;
  top: 0;
  left: -2rem;
  width: 4rem;
  height: 4rem;
  content: "";

  border-radius: 50%;
  background-color: var(--yellow);
  z-index: -1;
}

.modal-wrap .project-title:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";

  background-color: rgba(13, 13, 13, 0.1);
  z-index: 10;
}

.modal-wrap .project-title i {
  font-size: 1.5rem;
  margin-left: 1rem;

  vertical-align: bottom;
}

.modal-wrap .project-img {
  width: 100%;
  max-height: 40vh;

  margin-bottom: 3rem;
  border-radius: 40px;
  overflow: hidden;
}

.modal-wrap .project-skill {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.modal-wrap .project-skill:after {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";

  background-color: rgba(13, 13, 13, 0.1);
  z-index: 10;
}

.modal-wrap .project-desc {
  font-family: "Gangwon", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;

  max-height: 15vh;
  overflow-y: auto;
}

.modal-cursor {
  position: fixed;
  z-index: 5;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  transition: background ease-in 10ms, box-shadow ease-in 150ms, transform ease-in 150ms;
  transform: translate3d(0, 0, 0);
  border: 1px solid #000;

  display: grid;
  place-content: center;

  transition: width 0.4s, height 0.4s;
}
.modal-cursor.active {
  width: 64px;
  height: 64px;

  background-color: var(--purple);
}

.modal-cursor.inactive span {
  display: none;
}

.modal-cursor.active span {
  display: block;
}

@media all and (max-width: 1300px) {
  /* INFO SECTION */
  .info-text-box-top {
    font-size: 1.5em;
  }

  .info-text {
    padding: 1rem 0;
    font-size: 2.25rem;
  }

  .info-text:hover p {
    transform: translate3d(0, -2.75rem, 0);
  }

  .text-line {
    height: 2.25rem;
  }

  .text-line:nth-child(1) {
    left: -4rem;
  }
  .text-line:nth-child(2) {
    left: -2.65rem;
  }
  .text-line:nth-child(3) {
    left: -1.3rem;
  }
  .text-line:nth-child(4) {
    left: 0.05rem;
  }
  .text-line:nth-child(5) {
    left: 1.4rem;
  }
  .text-line:nth-child(6) {
    left: 2.75rem;
  }
  .text-line:nth-child(7) {
    left: 4.1rem;
  }

  .text-line p {
    height: 2.75rem;
    padding: 0 2rem;
  }

  .info-text-box {
    height: 60vh;
  }
  .info-skill-box {
    /* padding: 0; */
    height: 40vh;
  }

  .info-skill-box ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;

    margin: 0 auto;
  }

  .info-skill-box li {
    align-items: flex-start;
    justify-content: center;

    width: 18vw;
    height: 90%;

    border-radius: 5px 5px 0 0;

    padding: 0.7rem 0;
  }

  .info-skill-box li:hover {
    margin-right: 0;
    margin-bottom: -1rem;
  }

  .info-skill-box li:not(:nth-child(odd)) + li {
    /* 확인 */
    margin-bottom: 0;
    margin-left: 1vw;
  }

  .info-skill-box li:nth-child(even) {
    right: unset;
    bottom: 0;
    width: 16vw;
    height: calc(90% - 18vw);
  }

  .info-skill-box li:nth-child(2) {
    top: unset;
    left: 10.5vw;
  }

  .info-skill-box li:nth-child(4) {
    top: unset;
    left: 29.5vw;
  }

  .info-skill-box li:nth-child(6) {
    top: unset;
    left: 48.5vw;
  }

  .info-skill-box li:nth-child(8) {
    top: unset;
    left: 67.5vw;
  }

  .info-skill-box button {
    width: 13vw;
    height: 13vw;

    font-weight: normal;
    font-size: 0.8rem;
  }

  /* WORK SECTION */
}
