@charset "utf-8";

/* INFO SECTION */
.info-section {
  width: 100%;
}

.info-section .inner,
.info-section article {
  height: 100%;
}

.info-text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fac670;

  padding: 2rem;
  overflow: hidden;
}

.info-text-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 5rem;
}

.info-section .image {
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;

  overflow: hidden;
  border-radius: 50%;
}

.info-section .fa-snowboarding {
  animation: snowboarding 5s linear infinite alternate;
  transition: all 0.2s;
}

@keyframes snowboarding {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0.625rem, 2px);
    transform: translate(0.625rem, 2px);
  }
  100% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

/* SKILL SECTION */
.skill-section {
  color: #fff;
}

.skill-section .skill-list-wrap {
}

.skill-section .skill-list-wrap li {
  display: flex;
  height: 20rem;
}

.skill-section .skill-list-wrap li + li {
  margin-top: 0.375rem;
}

.skill-section .left-box {
  width: 50%;
  flex-shrink: 0;

  display: flex;
  align-items: center;

  color: var(--orange);

  background: var(--beige);
  border-radius: 4rem;
  padding: 2rem 3rem;
  margin-right: 1rem;
  overflow: hidden;
  transition: all 0.5s;
}

.skill-section .skill-icon {
  width: 5rem;
  font-size: 3rem;

  margin-right: 0.375rem;
}

.skill-icon i {
  -webkit-text-fill-color: var(--beige);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--orange);
}

.skill-section .skill-text {
  flex: 1;

  line-height: 1.5;
}

.skill-section .skill-text h3 {
  font-size: 1.2rem;

  margin-bottom: 3rem;
}

.skill-section .right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
  text-align: center;

  color: var(--beige);

  background: var(--orange);
  border-radius: 4rem;
  padding: 2rem 3rem;
  overflow: hidden;
  transition: all 0.5s;
}

.skill-section .right-box h3 {
  font-size: 3rem;
  margin-top: 2rem;
  font-style: italic;

  -webkit-text-fill-color: var(--orange);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--beige);
}

/* PROJECT SECTION */

/*
.wheel {
  position: relative;
  width: 50rem;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 4px solid #fff;
}

.new-project-section .project-open-button {
  width: 10rem;
  height: 10rem;
  color: #fff;
  font-size: 2rem;

  border: 2px solid #fff;
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
}

 .wheel .rotate-wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  touch-action: none;
  cursor: grab;
  transition: all 0.4s;
}

.wheel .rotate-wrap .list {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0.4;

  border: 1px solid red;
  transform: rotate(calc(36deg * var(--rotate)));
  transform-origin: bottom right;

  clip-path: polygon(0 25%, 100% 100%, 0 100%);
}

.wheel .rotate-wrap .list:nth-child(odd) {
  background-color: #18bcee;
}
.wheel .rotate-wrap .list:nth-child(even) {
  background-color: blueviolet;
} 

.wheel .rotate-wrap b {
  position: relative;
}*/

.project-section {
}

.project-section .inner {
  position: relative;
  display: flex;
  height: 100%;
}

.project-section .project-list-container {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  flex-shrink: 0;
  width: 50%;
}

.project-section .project-list-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: calc(100vw - 1rem);
  height: 100vh;
  background-color: var(--purple);
  border-radius: 50px;

  z-index: -1;
}

.project-section .project-list-container h2 {
  margin-bottom: 2rem;
}

.project-section .project-list-wrap {
  max-height: 60vh;
  overflow: overlay;
}

.project-section .project-list-wrap::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
}

.project-section .project-list-wrap li.active {
}

.project-section .project-list-wrap li + li {
  margin-top: 0.375rem;
}

.project-section .project {
  position: relative;

  display: inline-block;

  border-radius: 50px;
  border: 2px solid var(--black);
  background-color: #eeebf2;

  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}

.project-section .project b {
  display: block;

  font-size: 1.5rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.project-section .project b:after {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  content: attr(data-text);
  background: var(--black);
  border-radius: 50%;
  color: var(--purple);

  transition: all 0.2s;
  transform: skew(-80deg);
}

.project-section .project:hover b {
  transform: translateY(100%);
}

.project-section .project:hover b:after {
  transform: skew(0);
  border-radius: 50px;
}

.project-section .project-text-container {
  position: relative;
  flex-shrink: 0;
  width: 50%;
}

.project-section .project-text-list {
  position: relative;
}

.project-section .project-text-list li {
  display: grid;
  place-content: center center;
  width: 100%;

  margin-bottom: 3rem;
}

.project-section .project-img {
  width: 100%;
  border: 2px solid var(--black);

  border-radius: 40px;
  overflow: hidden;

  cursor: url("../image/arrow-cursor.svg") 20 30, auto;
}

/* NEW PROJECT SECTION */
.new-project-section {
}

.new-project-section .project-wrap {
  background-color: var(--skyblue);

  padding: 2rem;
}

.new-project-section .hide-container {
  display: flex;
  height: 60rem;
}

.new-project-section .wheel-swiper-wrap {
  flex-shrink: 0;
  width: 50%;

  margin: auto;
}

.new-project-section .wheel-slide {
  position: relative;

  box-sizing: border-box;
}

.new-project-section .project-open-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10rem;
  height: 10rem;
  font-size: 2rem;

  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 63% 37% 38% 62% / 56% 59% 41% 44%;
  transform: translate(-50%, -50%);

  z-index: 5;
}
.new-project-section .wheel-slide .swiper-wrapper {
  position: relative;

  width: 80%;
  aspect-ratio: 1 /1;

  background: #fff;
  border: 4px solid #fff;
  /* border-radius: 50%; */
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;

  touch-action: none;
  cursor: grab;
  transition: all 0.4s !important;
  overflow: hidden;
  /* transform: rotate(36deg); */
}

.new-project-section .wheel-slide .swiper-slide {
  position: absolute;
  right: 0;
  width: 50% !important;
  height: 50%;

  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(calc(36deg * var(--rotate)));
  transform-origin: bottom left;
  transition: all 0.4s;
  clip-path: polygon(50% 0%, 0% 100%, 100% 48%);

  cursor: pointer;
}

.new-project-section .wheel-slide .swiper-slide b {
  transform: rotate(calc(-36deg * var(--rotate)));
  transition: all 0.4s;
}

.new-project-section .wheel-slide .swiper-slide:nth-child(odd) {
  background-color: var(--yellow);
}

.new-project-section .wheel-slide .swiper-slide:nth-child(even) {
  background-color: var(--orange);
}

.new-project-section .wheel-slide .swiper-slide-thumb-active {
  opacity: 1;
}

.new-project-section .project-content-wrap {
  flex-shrink: 0;
  width: 50%;
}

.new-project-section .tv-img-wrap {
  position: absolute;
  top: 0;
  left: 50%;

  width: 30rem;
  height: auto;

  transform: translateX(-50%);

  z-index: 1;
}

.new-project-section .tv-img-wrap img {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.75));
}

.new-project-section .project-img-list-wrap li {
  display: none;
}

.new-project-section .project-img-list-wrap li.active {
  display: block;
}

.new-project-section .project-img-box {
  position: relative;
  height: 50%;
}

.new-project-section .project-img {
  position: absolute;
  top: 7.1rem;
  left: 50%;

  width: 16rem;
  height: 13rem;

  transform: translateX(-77%) rotate(7deg);
  transform-origin: right;
  border-radius: 0.5rem;
  background-color: #fff;

  overflow: hidden;
  z-index: 0;
}

.new-project-section .project-img:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;

  background: linear-gradient(320deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.3));
}

.new-project-section .project-img img {
  height: auto;
}

.new-project-section .project-detail-box {
  position: relative;
  height: 50%;
}

/* CONTACT SECTION */
.contact-section {
  /* min-height: 80vh; */
}

.contact-section .inner {
  display: flex;
  height: 100%;
}

.contact-section article {
  padding: 3rem 2rem;
}

.contact-section .contact-title-box {
  position: relative;
  width: 40%;
  background-color: var(--purple);

  margin-right: 0.375rem;
}

.contact-section .contact-title-box h2 {
  position: sticky;
  top: 0;

  font-size: 2rem;
}

.contact-section .contact-form-box {
  flex: 1;
  background-color: #fff;
}

.contact-section form {
  height: 100%;
}

.contact-form-box fieldset {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
}

/* .contact-form-box legend {
  font-size: 2.5rem;

  margin-bottom: 1.5rem;
} */

.contact-section .check-container {
  position: relative;
  width: 12rem;

  font-family: "Gangwon", cursive;

  border-radius: 5px;
  background: #fff;
  box-shadow: inset 3px 0 0 #cfdae1;
  border: 1px solid #cfdae1;
  transform: rotate(-5deg) translate3d(0, 0, 0);

  margin-bottom: 2rem;
}

.contact-section .check-container:before {
  position: absolute;
  top: 0;
  left: 1.375rem;

  width: 2px;
  height: 100%;

  content: "";
  background: #e45998;
}

.contact-section .check-list {
  position: relative;
  padding: 0 2.3rem;

  margin: 0.375rem 0;
  border-bottom: 1px solid #d8cbf5;
}

.contact-section .check-list span {
  position: relative;
}

.contact-section .check-list span:after {
  position: absolute;
  top: 50%;
  left: 0;

  width: 0;
  height: 2px;
  content: "";
  background-color: #70d5b9;

  transition: all 0.3s;
  transform: translateY(-50%);
}

.contact-section .check-list.checked span:after {
  width: 100%;
}

.contact-form-box .form-input {
  width: 100%;

  margin-bottom: 5rem;
}

.contact-form-box .input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: var(--beige);
  border: 1px solid var(--orange);
  border-radius: 50px;

  padding: 1rem 2rem;
  margin-bottom: 0.375rem;
}

.contact-form-box .input-wrap label {
  color: var(--orange);
}

.contact-form-box .input-wrap input {
  transition: all 0.2s;
  background-color: var(--beige);

  margin-top: 0.5rem;
  padding: 0.3rem 0;
}

.contact-form-box .input-wrap input:invalid {
  border-bottom: 1px solid var(--orange);
}

.contact-form-box .input-wrap textarea {
  margin-top: 0.5rem;
}

.contact-section .contact-util {
  margin-top: auto;
}

.contact-section .contact-util {
  margin-top: auto;
}

.contact-section .util-wrap {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;
}

.contact-section .util-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.2rem;
  height: 3.4rem;
  font-size: 2rem;

  border: 4px solid #1b1a19;
}

.contact-section .util-wrap a:hover {
  background-color: #1b1a19;
  color: #fff;
}

.contact-section .util-wrap li + li {
  margin-left: 1rem;
}

.contact-section .send-button {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;

  padding: 1rem 2rem;

  border-radius: 50px;
  background-color: var(--purple);
}

/* modal */
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: none;
  place-content: center center;

  background-color: rgba(24, 24, 27, 0.92);
  z-index: 20;
}

.modal-wrap .modal {
  display: none;
  padding: 4rem 8rem;
}
.modal-wrap .modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";

  background-color: rgba(24, 24, 27, 0.92);

  cursor: grab;
}

.modal-wrap .close-button {
  position: absolute;
  top: -3rem;
  right: -3rem;

  display: grid;
  place-content: center;
  font-size: 2rem;
  border: 2px solid black;
  padding: 1rem;

  background: var(--yellow);
  border-radius: 50%;

  width: 4rem;
  height: 4rem;

  transition: all 0.4s;
}

.modal-wrap .close-button:hover {
  transform: rotate(360deg);
}

.modal-wrap .modal-content {
  position: relative;
  background-color: #fff;
  max-height: 90vh;

  border-radius: 50px;

  padding: 4rem 5rem;
}

.modal-wrap .project-sub-title {
  font-size: 1.5rem;
  margin-bottom: 0.375rem;
}

.modal-wrap .project-title {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;

  z-index: 1;
}

.modal-wrap .project-title:before {
  position: absolute;
  top: 0;
  left: -2rem;
  width: 4rem;
  height: 4rem;
  content: "";

  border-radius: 50%;
  background-color: var(--yellow);
  z-index: -1;
}

.modal-wrap .project-title:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";

  background-color: rgba(13, 13, 13, 0.1);
  z-index: 10;
}

.modal-wrap .project-title i {
  font-size: 1.5rem;
  margin-left: 1rem;

  vertical-align: bottom;
}

.modal-wrap .project-img {
  width: 100%;
  max-height: 40vh;

  margin-bottom: 3rem;
  border-radius: 40px;
  overflow: hidden;
}

.modal-wrap .project-skill {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.modal-wrap .project-skill:after {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";

  background-color: rgba(13, 13, 13, 0.1);
  z-index: 10;
}

.modal-wrap .project-desc {
  font-family: "Gangwon", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;

  max-height: 15vh;
  overflow-y: auto;
}

@media all and (max-width: 1300px) {
  /* WORK SECTION */
}
