@charset "utf-8";

/* INFO SECTION */
.info-section {
  width: 100%;
  height: 100vh;
}

.info-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fac670;

  overflow: hidden;
}

.info-text-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
  font-weight: bold;
}

.info-section .fa-snowboarding {
  animation: snowboarding 5s linear infinite alternate;
  transition: all 0.2s;
}

/* @-webkit-keyframes snowboarding {
    0% {
      -webkit-transform: transform(1, 1, 1);
      transform: transform(1, 1, 1);
    }
    100% {
      -webkit-transform: transform(1, 1, 1);
      transform: transform(1, 1, 1);
    }
  } */
@keyframes snowboarding {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(10px, 2px);
    transform: translate(10px, 2px);
  }
  100% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

.info-text {
  margin: 0 auto;
  padding: 5rem 0;
  font-size: 4.25rem;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.info-text:hover p {
  transform: translate3d(0, -3.25rem, 0);
}

.text-line {
  height: 3.125rem;
  overflow: hidden;
  position: relative;
}

.text-line:nth-child(1) {
  left: -3.375rem;
}
.text-line:nth-child(2) {
  left: -1.563rem;
}
.text-line:nth-child(3) {
  left: 0.25rem;
}
.text-line:nth-child(4) {
  left: 2rem;
}
.text-line:nth-child(5) {
  left: 3.813rem;
}
.text-line:nth-child(6) {
  left: 5.625rem;
}
.text-line:nth-child(7) {
  left: 7.938rem;
}

.text-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.text-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}

.text-line p {
  height: 3.125rem;
  line-height: 3.25rem;
  padding: 0 7.25rem;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

.info-skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);

  padding: 0;
}

.info-skill-box ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: hidden;
}

.info-skill-box li {
  display: flex;
  align-items: center;

  flex-shrink: 0;
  width: 90%;
  height: 9rem;

  border-radius: 5px 0 0 5px;

  padding: 0 1.5rem;
  cursor: pointer;

  transition: all 0.3s;
}

.info-skill-box li:hover {
  transform: translateX(1rem);
}

.info-skill-box li:not(:nth-child(odd)) + li {
  margin-top: 0.5rem;
}

.info-skill-box li:nth-child(even) {
  position: absolute;
  right: 0;
  width: 60%;
  height: 6rem;
  background-color: var(--black);

  z-index: 3;
}

.info-skill-box li:nth-child(1) {
  background-color: var(--skyblue);
}

.info-skill-box li:nth-child(2) {
  top: 6.25rem;
}

.info-skill-box li:nth-child(3) {
  background-color: var(--yellow);
}

.info-skill-box li:nth-child(4) {
  top: 15.75em;
}

.info-skill-box li:nth-child(5) {
  background-color: var(--beige);
}

.info-skill-box li:nth-child(6) {
  top: 25.25em;
}

.info-skill-box li:nth-child(7) {
  background-color: var(--orange);
}

.info-skill-box li:nth-child(8) {
  top: 34.75em;
}

.info-skill-box li:nth-child(9) {
  background-color: var(--purple);
}

.info-skill-box button {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;

  border-radius: 5px;
}

.info-skill-box li:nth-child(even) button {
  background-color: rgba(255, 255, 255, 0.1);
}

/* WORK SECTION */
.project-section {
  width: 100%;
}

.project-section .project-list-box h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-section .project-list-wrap li {
  display: flex;
  align-items: center;

  padding: 0 2rem;
  height: 8rem;

  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;

  transition: all 0.2s;
}

.project-section .project-list-wrap li:hover {
  background-color: #dde9ec;
  padding-left: 2.5rem;
}

.project-section .project-list-wrap li.active {
  background-color: var(--skyblue);
}

.project-section .project-list-wrap li + li {
  margin-top: 0.2rem;
}

.project-section .project-list-wrap i {
  margin-right: 0.5rem;
}

.project-section .project-name > span {
  animation: textAction 1s backwards;

  transition: all 0.2 step-end;
}

.project-section .project-name > span:nth-child(2) {
  animation-delay: 0.1s;
}
.project-section .project-name > span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes textAction {
  0% {
    opacity: 0;
    font-size: 0;
  }
  50% {
    opacity: 1;
    font-size: 2.1rem;
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    font-size: 2rem;
    transform: translateY(0);
  }
}

.project-section .project-detail-box {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;

  padding: 0;
}

.project-section .project-detail-wrap {
}

.project-section .project-detail-wrap li {
  display: none;
}

.project-section .project-detail-wrap li.active {
  display: block;
}

.project-section .project-title {
  display: flex;
  align-items: center;

  height: 25vw;
}

.project-section .project-detail-box .icon-area {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  width: 50%;
  height: 100%;

  background-color: var(--skyblue);
}

.project-section .project-detail-box .project-setting {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  width: 50%;
  height: 100%;

  background-color: var(--orange);
}
.project-section .project-detail-box .project-content {
  width: 100%;
  height: calc(100vh - 25vw);

  background-color: var(--yellow);
  padding: 1rem;
}
.project-section .project-detail-box .content-img-wrap {
  max-height: 100%;
  overflow-y: auto;

  border-radius: 5px;

  cursor: url("../image/arrow-cursor.svg") 20 30, auto;
}
.project-section .project-detail-box .content-img-wrap img {
  height: auto;
  object-fit: contain;
}

/* SKILL SECTION */
.skill-section {
  height: 100vh;
  background-color: var(--black);
  color: #fff;
}

.skill-list {
  position: absolute;
}

.skill-list button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.skill-list i {
  font-size: 2rem;
}

.skill-list button:nth-child(1) {
  background-color: var(--skyblue);
}
.skill-list button:nth-child(2) {
  background-color: var(--orange);
}
.skill-list button:nth-child(3) {
  background-color: var(--purple);
}
.skill-list button:nth-child(4) {
  background-color: var(--yellow);
}

/* CONTACT SECTION */
.contact-section {
  height: 80vh;
}

.contact-section .contact-title-box {
  background-color: var(--yellow);
}
.contact-section .contact-title-box h2 {
  font-size: 2rem;
}

.contact-section .contact-form-box {
  background-color: #fff;
}

.contact-section form {
  height: 100%;
}

.contact-form-box fieldset {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.contact-form-box legend {
  font-size: 1.5rem;

  margin-bottom: 1rem;
}

.contact-form-box .form-input {
  width: 100%;
}

.contact-form-box .input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: var(--beige);
  border: 1px solid var(--orange);
  border-radius: 5px;

  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.contact-form-box .input-wrap label {
  color: var(--orange);
}

.contact-form-box .input-wrap input {
  transition: all 0.2s;
  background-color: var(--beige);

  margin-top: 0.5rem;
  padding: 0.3rem 0;
}

.contact-form-box .input-wrap input:invalid {
  border-bottom: 1px solid var(--orange);
}

.contact-form-box .input-wrap textarea {
  margin-top: 0.5rem;
}

.contact-section .send-button {
  font-size: 2rem;
  font-weight: bold;

  padding: 1rem 2rem;
  margin-top: auto;

  border-radius: 5px;
  background-color: var(--orange);
}

@media all and (max-width: 1300px) {
  /* INFO SECTION */
  .info-section {
    height: auto;
  }

  .info-text-box-top {
    font-size: 1.5em;
  }

  .info-text {
    padding: 5rem 0;
    font-size: 2.25rem;
  }

  .info-text:hover p {
    transform: translate3d(0, -3.25rem, 0);
  }

  .text-line {
    height: 2.75rem;
  }

  .text-line:nth-child(1) {
    left: -3.375rem;
  }
  .text-line:nth-child(2) {
    left: -1.563rem;
  }
  .text-line:nth-child(3) {
    left: 0.25rem;
  }
  .text-line:nth-child(4) {
    left: 2rem;
  }
  .text-line:nth-child(5) {
    left: 3.813rem;
  }
  .text-line:nth-child(6) {
    left: 5.625rem;
  }
  .text-line:nth-child(7) {
    left: 7.938rem;
  }

  .text-line p {
    height: 3.125rem;
    line-height: 3.25rem;
    padding: 0 7.25rem;
  }

  .info-text-box {
    height: 60vh;
  }
  .info-skill-box {
    /* padding: 0; */
    height: 40vh;
  }

  .info-skill-box ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    margin: 0 auto;
  }

  .info-skill-box li {
    align-items: flex-start;
    justify-content: center;

    /* width: 6.5rem; */
    width: 18vw;
    height: 90%;

    border-radius: 5px 5px 0 0;

    padding: 1rem 0;
  }

  .info-skill-box li:hover {
    transform: translate(0, 1rem);
  }

  .info-skill-box li:not(:nth-child(odd)) + li {
    margin-top: 0;
    margin-left: 1vw;
  }

  .info-skill-box li:nth-child(even) {
    right: unset;
    bottom: 0;
    width: 16vw;
    height: calc(90% - 18vw);
  }

  .info-skill-box li:nth-child(2) {
    top: unset;
    left: 10.5vw;
  }

  .info-skill-box li:nth-child(4) {
    top: unset;
    left: 29.5vw;
  }

  .info-skill-box li:nth-child(6) {
    top: unset;
    left: 48.5vw;
  }

  .info-skill-box li:nth-child(8) {
    top: unset;
    left: 67.5vw;
  }

  .info-skill-box button {
    width: 13vw;
    height: 13vw;
  }
}
